
<div class="ui three column centered grid">
  <div class="column">
    <%= form_tag("/auth/shopify", method: "get", class: "ui large form") do %>
      <div class="ui stacked segment" style="background: #00C9FF;background: -webkit-linear-gradient(to left, #00C9FF  , #8DC26F );background: linear-gradient(to left, #00C9FF  , #8DC26F );" >
        <%= image_tag "logo.png", style: "width: 100%" %>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= text_field_tag(:shop, "", placeholder: 'your-shop-url.myshopify.com', style: "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;") %>
          </div>
        </div>
        <%= submit_tag("Log In", class: "ui fluid large teal submit button") %>
      </div>

      <div class="ui error message"></div>

    <% end %>
  </div>
</div>
